.tlt {
    color: white;
    font-family: 'lato', sans-serif;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 10em;
    font-weight: 300;
    display: block;
}

#logo {
  margin-left: 37.5%;
  width: 25%;
  display: block;
}

.top-bar .has-form {
  background-color: #00aced;
}

.top-bar input {
  width: 100%;
}

.top-bar .top-bar-section {
  width: 100%;
}

footer {
  height: 10%;
  bottom: 5px;
}

.button-group {
  margin-bottom: 5px;
}

.button {
  bottom: 5px;
  padding: 5%;
}

#legend {
  position:absolute;
  width: 500px;
  bottom: 100%;
  display: show;
}
