.tlt {
    color: white;
    font-family: 'lato', sans-serif;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 5em;
    font-weight: 300;
    display: block;
}

#logo {
  margin-left: 27.5%;
  width: 45%;
  display: block;
  padding-top: 30%;
}

.button {
  font-size: 75%;
  padding: 10%;
  margin-bottom: 0;
}

#infoModal {
  font-size: 0.8em;
  bottom: 10%;
  background-color: white;
  width: 50%;
  height: 35%;
  right: 1%;
  border-radius: 10px;
  border: 2px solid black;
  position: fixed;
  padding: 10px;
  z-index: 101;
  display: none;
  overflow: scroll;
}
