.tlt {
    color: white;
    font-family: 'lato', sans-serif;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 5em;
    font-weight: 300;
    display: block;
}

#logo {
  margin-left: 27.5%;
  width: 45%;
  display: block;
  padding-top: 30%;
}

.button {
  font-size: 75%;
  padding: 10%;
  margin-bottom: 0;
  bottom: 0px;
}

footer {
  bottom: 1px;
}

.button-group {
  margin-bottom: 1px;
}

#legend {
  width: 98%;
}

.top-bar.expanded .title-area {
  background: #00aced;
}

.top-bar.expanded .toggle-topbar a span::after {
  box-shadow: 0 0 0 1px #FFFFFF, 0 7px 0 1px #FFFFFF, 0 14px 0 1px #FFFFFF;
}

.top-bar.expanded .toggle-topbar a {
  color: #FFFFFF;
}

#pac-input {
  min-width: 98%;
}
